body {
    font-family: 'Merriweather', serif;
    background-color: white;
    margin: 0 auto;
}

/* Hlavička */
h1, 
h2, 
a, 
.copy {
   font-family: 'Raleway', sans-serif;;
}

.hlavicka {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url('images/island-hlavicka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: white;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.podnadpis {
    font-size: 0.9rem;
    margin-top: 0;
    line-height: 1.5;
    color:white;
}

.jana {
    font-size: 0.8rem;
    color: #D5D5D5;
    font-style: italic;
    margin: 0;
}

.cara {
    border-top: 2px solid #D5D5D5;
    width: 55px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* Menu */

.nav {
    margin: 2rem 0;
}

.menu,
ul {
    list-style: none;
    padding: 0;
}

.polozky {
    text-transform: uppercase;
    padding: 0.5rem;
    border-bottom: 0.2px solid #D5D5D5;
    text-align: center;
    margin: 0 3rem;
}

a {
    text-decoration: none;
    color: #A7A7A7;
}


/* Úvod */

p {
    padding:0 1.5rem 1rem;
    margin: 0;
    line-height: 1.8;
    font-size: 0.9rem;
    color:#252525 ;
}

img {
    width: 100%;
}

.island1, 
.island2,
.island3 {
    margin-top: 1.5rem;
}


/* proč jet na Island */

h2 {
    padding: 1.5rem;
    margin: 0;
}

.dekorace {
    border-top: 3px solid #629edb;
    width: 70px;
    margin-bottom: 2rem;
}

.skogafoss {
    margin-top: 1.5rem;
}

p.copy,
p.autor {
    color:#A7A7A7 ;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;  
}

.autor {
    font-weight: 700;
}

.copy a {
    text-decoration: underline;
}

p.copy {
    position: relative;
    bottom: 5px;
    padding-bottom: 0.8rem;
}

p.copy.single {
    position: relative;
    bottom: 0;
}


p.copy.posledni {
    padding: 0;
}

/* patička */

.paticka {
    text-align-last: left;
    padding: 1.5rem;
    color: #A7A7A7;
    font-size: 0.7rem;
}

.paticka a {
    font-family: 'Merriweather', serif;
    text-decoration: underline;

}

.footer {
    background: rgb(239,239,239);
    background: linear-gradient(0deg, rgba(239,239,239,1) 81%, rgba(221,221,221,1) 94%);
}

@media (min-width:539px) and (max-width:849px) {

    .menu {
        display: flex;
        margin: auto;
        margin: 0 2rem;
    }

    .polozky {
        margin: 0;
        border-top: 0.2px solid #D5D5D5;
        font-size: 0.9rem;
        flex-grow: 1;

        }

    .proc,
    .videt,
    .foto{
        border-left: 0.2px solid #D5D5D5;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    .obrazky {
        width: 50%;
        overflow: hidden;
      }

      .obrazky img {
        transition: transform .5s ease;
      }

      .obrazky:hover img {
        transform: scale(1.5);
      }



}


@media (min-width: 850px) {
    
    .menu {
        flex-direction: column;
        display: flex;
        width: 120%;
    }

    .menudesktop {
        display: flex;
    }

    .uvod {
        margin-top: 2rem;
    }

    .polozky {
        text-align: left;
        margin-left: 2rem;
         width: 20vw;   
         padding: 0.8rem;
 }

 .procisland .text {
     width: 80vw;
 }

 .mista h2,
 .mista p {
     width: 80vw;
     margin-left: 10rem;
 }

 .mista .dekorace {
     margin-left: 10rem;
 }

 ul {
    display: flex;
    flex-wrap: wrap;
}


.obrazky {
    width: calc(100%/3);   
    overflow: hidden;
  }

  .obrazky img {
    transition: transform .5s ease;
  }

  .obrazky:hover img {
    transform: scale(1.5);
  }




}



